{% block search_with_help %}
<div class="wrapper">
    <input type="text" class="search">
    <select name="" id="" class="results">
        <option></option>
    </select>
    <div class="search-help dropdown">

    </div>
</div>
{% endblock %}